@import url('https://fonts.googleapis.com/css2?family=Open+Dyslexic&display=swap');
@import url("./footer.css");
@import url("./cookies.css");
@import url("./formulario.css");

* {
    margin: 0%;
    padding: 0%;
}

/*GENERAL*/

body {
    display: grid;
    grid-template-columns: 0.5fr repeat(2, 1fr);
    grid-template-rows: 0.1fr repeat(2, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgb(226, 128, 48) 120%);
    font-family: 'Open Dyslexic', 'Helvetica', sans-serif; 
}

h1, h2, h3, h4 {
    font-family: 'Open Dyslexic', 'Verdana', sans-serif; 
}



header{
    grid-column: 1/4;
    background-color: #FF6B35;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}
header h1{
    color: black;
    text-align: center;
}

.hamburger-button {
    background-color: #1A535C;
    color: white;
    padding: 20px;
    border-radius: 140px;
    cursor: pointer;
}

.hamburger-button img {
    width: 30px;
    height: 20px;
}
.services #hamburger-menu img {
    width: 30px;
    height: 20px;
}

/* Enlaces*/
.nav-links {
    display: none;
    width: 70%;
}
.nav-links a {
    background-color: #FFD166;
    display: inline-block;
    padding: 13px;
    color: black;
    text-decoration: none;
    border-radius: 10px;
    width: 150px; /* Establece un ancho inicial */
    transition: width 0.3s ease; /* Transición para el cambio de ancho */
    text-align: center;
}
.nav-links a:hover {
    background-color: #E85032;
    border: 1px dashed black;
    width: 200px; /* Ancho al hacer hover */

}
.nav-links.show {
    display: inline-block;
}

h2{
    margin-top: 3%;
    grid-column: 1/4;
    grid-row: 2;
    text-align: center;
}

button{
    background-color: #1A535C ;
    color: white;
    padding: 1em;
    border-radius: 8em;
}

main{
    grid-column: 2/4;
    grid-row: 2/4;
}
main p{
    padding: 2%;
}
main img{
    width: 90%;
}

.partes{
    display: none;
    /* Tamaño de la imagen*/
    width: 70%;
    height: 60%;
    border-radius: 8px;
}
/* Animación de la imagin dentro figure*/
figure img:hover {
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}


figcaption{
    display: none;
}
figure{
    display: flex;
    justify-content: center;
    align-items: center;
}


.entrenador-portatil{
    width: 60%;
    grid-column: 2/4;
    grid-row: 4;
    border: solid 0.1em #164a52 ;
    border-radius: 8px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background-color: #28a1b4;
    text-align: center;
    color: black;
    align-self: center;
    width: 90%;
    /* margin: 10px; */
}

/* Animación de la imagen entrenador protatil en la página Home*/
.entrenador-portatil img {
    border-radius: 0%; /* Estado inicial */
    transition: all 1.5s ease-in-out; 
}
.entrenador-portatil img:hover {
    border-radius: 50%;
    box-shadow: 0px 0px 15px 15px #ec731e; /* Sombra en el borde */
    transform: rotate(360deg); /* Rotación */
}

/* Estructura de la página servicios*/
.services section{
    grid-row: 3/5;
    display: grid;
    grid-template-columns: subgrid;
}
.services h2, .services>h3>p{
    grid-column: 2/4;
}

/* Animación de la corazon*/
.services .biceps{
    /* Posicionamiento*/
    position: relative;
    left: 12em;
    top: 1em;
    width: 40%;
    -webkit-animation: miAnimacion 2s ease 0s 3 normal forwards;
            animation: miAnimacion 2s ease 0s 3 normal forwards;
}
    @-webkit-keyframes miAnimacion {
        0%,
        50%,
        100% {
            opacity: 1;
        }
    
        25%,
        75% {
            opacity: 0.1;
        }
    }
    @keyframes miAnimacion {
        0%,
        50%,
        100% {
            opacity: 1;
        }
    
        25%,
        75% {
            opacity: 0.1;
        }
    }

/* Tamaño de imagenes de los articulos*/
article img {
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
    border-radius: 10px;
}

/* Animación al pasar el ratón encima de las imagenes de los articulos*/
section div img {
    transition: filter 1s ease; /* Establece la transición de saturación a 1.5 segundos */
}
section div:hover img {
    filter: saturate(180%); /* Aumenta la saturación */
}

.services main div{
    border: black solid 0.2em;
    border-radius: 3%;
    margin: 1%;
    padding: 1%;
    text-align: center;
    grid-column: 1/3;
    width: 90%;
}


/* Pantallas medianas*/
@media screen and (min-width:768px) and (max-width:1023px) {
    /* Comun */
    video {
        width: 80%; /* Reducir el ancho del video */
        max-width: 600px;
    }
    .nav-links {
        display: contents;
        color: white;
        width: 100%;
        /*display: flex;*/
        justify-content: center;
        vertical-align: middle;
    }
    .nav-links a {
        margin: .2em;
    }
    .hamburger-button{
        pointer-events: none;
    }

    div:nth-child(3) img{
        display: none;
    }

    main{
        grid-column: 2/4;
        grid-row: 2/5;
    }
    
    @-webkit-keyframes grow {
        0% {
            width: 3.125em;
            height: 3.125em;
        }
        50% {
            width: 6.25em;
            height: 6.25em;
        }
        100% {
            width: 3.125em;
            height: 3.125em;
        }
    }

    @keyframes grow {
        0% {
            width: 3.125em;
            height: 3.125em;
        }
        50% {
            width: 6.25em;
            height: 6.25em;
        }
        100% {
            width: 3.125em;
            height: 3.125em;
        }
    }  

    /* servicios  */
    .services main {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-column: 1 / -1;        
    }
 
    /* quitar img Biceps */
    .biceps {
        display: none;
    }

    .services section {
        grid-column: 1 / -1;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }


}

/*Pantallas grandes*/
@media screen and (min-width:1024px) {
    
    .services div:nth-child(odd){
        grid-column: 1;
    }

    .services div:nth-child(even){
        grid-column: 3;
    }
    .hamburger-button {
        display: none;
    }
    .nav-links {
        display: contents;
        color: white;
        width: 100%;
        display: flex;
        justify-content: center;
        vertical-align: middle;
    }
    .nav-links a {
        margin: 2em;
    }

    main h2, main p{
        grid-column: 2;
    }
    
    .partes{       
        display: inline;
        grid-column: 3;
        grid-row: 3/5;
    }
    figcaption{
        text-align: center;
        display: block;
        font-weight: bolder;
        grid-column: 3;
        grid-row: 3;
        width: 20%;
    }

    div:nth-child(3){
        grid-column: 3;
        grid-row: 2;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
    }
    div:nth-child(3) h3:hover img{
        display: contents;
        margin: auto;
    }

    main{
        grid-column: 1/3;
        grid-row: 2/5;
    }

  
    /* Asegura que el video ocupe el ancho completo y mantenga su proporción */
    #video {
        display: block;         
        max-width: 90%;       
        width: 100%; 
        height: auto;      
        margin: 0 auto;
        border-radius: 8px;    
    }
  
    @-webkit-keyframes grow {
        0% {
            width: 3.125em;
            height: 3.125em;
        }
        50% {
            width: 6.25em;
            height: 6.25em;
        }
        100% {
            width: 3.125em;
            height: 3.125em;
        }
    }

    @keyframes grow {
        0% {
            width: 3.125em;
            height: 3.125em;
        }
        50% {
            width: 6.25em;
            height: 6.25em;
        }
        100% {
            width: 3.125em;
            height: 3.125em;
        }
    }
    main h2{
        transition: 2s linear;
        transition: text-shadow 1s linear;
    }
    main h2:hover{
        transform: scale(1.2);
        text-shadow: 0.938em -0.6em 0.13em #ec9b2a;
    }
}


/*  pantalla pequeña */
@media screen and (max-width: 767px) {
    /* por la página home  */
    .home {
        grid-template-columns: 1fr; /* Ajustar el grid a una sola columna */
        grid-template-rows: auto;   /* Ajustar filas automáticamente */
    }
    header {
        text-align: center; 
    }
    #video {
        width: 100%;
        max-width: 600px;
    }

    /* página de servicios  */
    .services main {
        grid-template-columns: 1fr; /* Una sola columna */
        grid-template-rows: auto; /* Ajusta las filas automáticamente */
        grid-column: 1 / -1; /* Ocupa todo el ancho del contenedor */
    }

    .services main img {
        width: 100%;
        margin-bottom: 20px;
    }

    .services section {
        grid-column: 1 / -1; /* Ocupa todo el ancho del contenedor */
        display: flex;
        flex-direction: column; /* Coloca los elementos en columna */
        gap: 20px; /* Espaciado entre los artículos */
    }

    .services main div{
        width: 80%;
    }

}