@import url('https://fonts.googleapis.com/css2?family=Open+Dyslexic&display=swap');
@import url("./footer.css");

*{
    margin: 0%;
    padding: 0%;
}

header{
    grid-column: 1/4;
    background-color: #FF6B35;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}
header h1{
    color: balck;
    text-align: center;
    font-family: 'Open Dyslexic', 'Verdana', sans-serif; 

}

body{
    font-family: 'Open Dyslexic', 'Helvetica', sans-serif; 
}

.hamburger-button {
    background-color: #1A535C;
    color: white;
    padding: 20px;
    border-radius: 140px;
    cursor: pointer;
}

/* tamaño*/
.hamburger-button img{
    height: 1em;
    width: 1em;
}


.nav-links {
    display: none;
    color: white;
    width: 70%;
}

button {
    background-color: #1A535C;
    color: white;
    padding: 1em;
    border-radius: 8em;
    display: block;
    margin: 1em auto; /* Centra el botón horizontalmente */
    text-align: center; 
}


.nav-links a {
    background-color: #FFD166;
    display: inline-block;
    padding: 13px;
    color: black;
    text-decoration: none;
    border-radius: 10px;
    width: 150px; /* Establece un ancho inicial */
    transition: width 0.3s ease; /* Transición para el cambio de ancho */
    text-align: center;
}

.nav-links a:hover {
    background-color: #E85032;
    border: 1px dashed black;
    width: 200px; /* Ancho al hacer hover */
}
.nav-links.show {
    display: inline-block;
}

/* Article*/
/* Estilo para el artículo */
article {
    background-color: #f4f4f9; /* Color de fondo suave */
    padding: 20px;
    margin: 20px auto;
    max-width: 1200px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil para darle profundidad */
    font-family: 'Open Dyslexic', 'Helvetica', sans-serif; 
}

body h2 {
    color: #333;
    font-size: 40px;
    margin-bottom: 15px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

article p {
    color: #555;
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 15px;
}

article img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
    display: block;
}

.list-inline li{
    color: black;
} 

/*Pantallas grandes*/
@media screen and (min-width:1024px) {
    .hamburger-button {
        display: none;
    }
    .nav-links {
        display: contents;
        color: white;
        width: 100%;
        display: flex;
        justify-content: center;
        vertical-align: middle;
    }
    .nav-links a {
        margin: 2em;
    }

}

/* Pantallas medianas y pequeñas */
@media screen and (max-width: 1023px) {
    body {
        grid-template-columns: 1fr; /* Ajustar el grid a una sola columna */
        grid-template-rows: auto;   /* Ajustar filas automáticamente */
    }

    header {
        text-align: center; 
    }
}   